---
import Footer from "../components/Footer.astro";
import ImgContainer from "../components/ImgContainer.astro";
import ImgWithText from "../components/ImgWithText.astro";
import UserComment from "../components/UserComment.astro";
import Header from "../components/Header.astro";
import NavBar from "../components/NavBar.jsx";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>sunnyside-agency-landing-page</title>
  </head>
  <body>
    <main>
      <NavBar client:load />
      <Header />
      <ImgWithText />
      <UserComment />
      <ImgContainer />
    </main>
    <Footer />
  </body>
</html>

<style lang="scss">
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  body {
    main {
      max-width: 1400px;
      margin-inline: auto;
    }
  }
</style>
