---
const { BASE_URL } = import.meta.env;
---

<header>
  <section>
    <h1>We are creatives</h1>
    <a href="#imgwithtext">
      <img src={`${BASE_URL}icon-arrow-down.svg`} alt="arrow" /></a
    >
  </section>
</header>

<style lang="scss">
  header {
    height: 40dvh;
    background-image: url("desktop/image-header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
    h1 {
      font-size: 4rem;
      text-wrap: balance;
      color: #fff;
    }
    a {
      display: block;
      margin: 1rem auto;
      width: fit-content;
    }
  }
</style>
